*{
    margin: 0;
    padding:0;
}
body{
    width: 100vw;
    height: 100vh;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.logo{
    width: 100%;
    height: 17%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sublogo{
    width: 85%;
    height:100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-self: center;
}
.logoimg{
    width: 25%;
    height: 20%;
    display: flex;
}

.menus{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    /* gap: 25px; */
    font-family: "Lato",sans-serif;
    font-size: 18px;
}
.menus a{
    text-decoration: none;
    color: black;
}
.header{
    width: 100%;
    height: 170vh;
    background-color: #f6f8fa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subheader{
    width: 80%;
    height: 90%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
}
.subheader h2{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.hr{
    width: 13%;
    height: 0.5%;
    color: black;
    background-color: black;
}
.subhead{
    width: 42%;
    height: 15%;
    background-color: #f6f8fa;
    font-size: 22px;
    line-height: 30px;
    font-family:"Lato",sans-serif;
    color: #979797;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    
}
.rescon{
    width: 100%;
    height: 100%;
    background-color:#f6f8fa;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;   
}
.leftcon{
    width: 100%;
    height: 100%;
    background-color: white;

}
.rightcon{
    width: 100%;
    height: 100%;
    background-color: white;

}

.expleft{
    width: 100%;
    height: 10%;
    /* background-color: orange; */
    font-size: 30px;
    font-family: "Lato",sans-serif;
    color: #0D1218;
    font-weight: 700;
}
.clg{
    width: 80%;
    height: 20%;
    font-size: 17px;
    font-family: "Lato",sans-serif;

}
.wholedetailss{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}
.subdetails{
    width: 90%;
    height: 90%;
    /* background-color: aqua; */
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
   
}
.degree{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    font-size: 19px;
    font-family:  "Lato",sans-serif;
    color: #55575D;
}
.hslc{
    width: 100%;
    height: 100%;
    /* background-color: fuchsia; */
    font-size: 19px;
    font-family:  "Lato",sans-serif;
    color: #55575D;
}
.sslc{
    width: 100%;
    height: 100%;
    /* background-color: salmon; */
    font-size: 19px;
    font-family:  "Lato",sans-serif;
    color: #55575D;
}
.degree h3{
    color: #009BDE;
}
.hslc h3{
    color: #009BDE;
}
.sslc h3{
    color: #009BDE;
}
.degree h4{
    color: #89989F;
}
.hslc h4{
    color: #89989F;
}
.sslc h4{
    color: #89989F;
}
.degree p{
    color:#55575D;
}
.hslc p{
    color: #55575D;
}
.sslc p{
    color: #55575D;
}
.wrkexp{
    width: 100%;
    height: 10%;
    /* background-color: orange; */
    font-size: 30px;
    font-family: "Lato",sans-serif;
    color: #0D1218;
    font-weight: 500;
}
.clg{
    width: 80%;
    height: 20%;
    font-size: 15px;
    font-family: "Lato",sans-serif;

}
.wholedetailss{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}

.freelance{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    font-size: 19px;
    font-family:  "Lato",sans-serif;
    color: #55575D;
}
.soundeng{
    width: 100%;
    height: 100%;
    /* background-color: fuchsia; */
    font-size: 19px;
    font-family:  "Lato",sans-serif;
    color: #55575D;
}
.internship{
    width: 100%;
    height: 100%;
    /* background-color: salmon; */
    font-size: 19px;
    font-family:  "Lato",sans-serif;
    color: #55575D;
}
.freelance h3{
    color: #009BDE;
}
.soundeng h3{
    color: #009BDE;
}
.internship h3{
    color: #009BDE;
}
.freelance h4{
    color: #89989F;
}
.soundeng h4{
    color: #89989F;
}
.internship h4{
    color: #89989F;
}
.freelance p{
    color:#55575D;
}
.soundeng p{
    color: #55575D;
}
.internship p{
    color: #55575D;
}

/* .resumecontent{
    width: 50%;
    height: 75%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ressumecon{
    width: 80%;
    height: 90%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftconres{
    width: 75%;
    height: 80%;
    background-color: blue;
    font-size: 28px;
    /* color:#009BDE; */
/* } */
/* .headl8{ */
    /* color: #009BDE; */
    /* font-family:"Lato",sans-serif; */
/* }  */


@media(max-width:1200px){
    .logo{
        height: 15%;
    }
    .logoimg{
        width: 45%;
    }
    .menus{
        width: 62%;
    }
    .header{
        height: 100vh;
    }
    .subheader{
        width: 90%;
    }
    .expleft{
        height: 3%;
    }
    .subdetails{
        width: 100%;
    }
    .wrkexp{
        height: 3%;
    }
    .leftcon{
        height: 87%;
    }
    .rightcon{
        height: 87%;
    }
    
}
@media(max-width:600px){
    .logo{
        height: 10%;
    }
    .logoimg{
        width: 35%;

    }
    .sublogo{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menus{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
    }
    .aboutmee{
        font-size: 15px;
    }
    .header{
        height: auto;
    }
    .subhead{
        width: 80%;
    }
    .rescon{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .leftcon{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .subdetails{
        width: 90%;
        height: 100%;
        /* background-color: aqua; */
        display: grid;
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
       
    }
    .rightcon{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .expleft{
        font-size: 25px;
    }
    .wrkexp{
        font-size: 25px;
    }
    .subheader h2{
        font-size: 30px ;
    }
}

